/* CSS Document */


/* 
*
*
[Table of contents]
*
*
*

  color / $white
  font / @import 
  general / html
  dropdown / .dropdown-custom.btn
  navbar / .navbar
  breadcumb / .breadcumb
  home / .subheading
  icon scroll / .icon-scroll-wraper
  footer / footer
  portofolio / AppContainer
  contact / .form-side
  news / .post-content
  create file / .d-create-file
  activity / .filter__l
  feature box / .feature-box .inner
  column nft / .nft_coll
  countdown / .de_countdown
  author list / .author_list
  icon box / .icon-box 
  carousel / .d-carousel
  filter / .items_filter
  colection / #profile_banner 
  item details / .item_info
  wallet / .box-url 
  login / .field-set label
  all icon / .demo-icon-wrap-s2 
  element / .card-header
  media all / @media only screen and (max-width: 1199px)

*/

/*color*/
$white: #fff;
$gray: #bbb;
$black: #111;
$general: #727272;
$black_soft: #333;
$black_col: #2e333c;
$black_more: #0f0f0f;
$color: #218cff;
$color_more: #35669e;
.col-white{
  color: $white;
}

/*font*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;300;400;500;600;700;800&display=swap');

/*general*/
html {scroll-behavior: auto;}
body {
  font-family: "DM Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: $general;
  word-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.br{
  display: block;
  white-space: pre-wrap;
}
strong{
  font-weight: bold;
}
section{
  padding: 90px 0;
  &.no-top{
    padding-top: 0 !important;
  }
  &.no-bottom{
    padding-bottom: 0 !important;
  }
}

.wraper{
  padding: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  .wraperitem{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.align-items-center {
    align-items: center !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.white{
  color: $black;
  background: $white;
}
.color{
  color: $color;
}
 
/*navbar*/
.navbar {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0);
    border-bottom: solid 1px rgba(255,255,255,0);
    z-index: 999;
    transition: all 0.6s ease;
    &.white{
      a{
        color: $black;
      }
      .btn{
        color: $black;
        .lines{
          top: 24px;
        }
      }
    }
    .w-100-nav{
      margin: 0;
      width: 100%;
      justify-content: left;
      align-items: center;
      flex-wrap: nowrap;
    }
    a{
      position: relative;
      font-size: 14px;
      font-weight: 800;
      padding: 0 5px 0 0;
      text-decoration: none !important;
      color: $white;
      outline: none;
      transition: all 0.3s ease;
      &:hover{
        color: inherit;
        transition: all 0.3s ease;
      }
      &.active{
        transition: all 0.3s ease;
        &:before{
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 0;
          left: 0;
          top: 0;
          background: 0;
          cursor: default;
        }
      }
    }
    .navbar-title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
    }
    .navbar-item {
        position: relative;
        display: inline-block;
        padding: 30px 6px;
        height: max-content;
        cursor: default;
        .lines{
          position: absolute;
          top: 22px;
          display: block;
          width: 0;
          border-bottom: 2px solid $color;
          transition: .7s;
        }
        &:hover{
          .lines{
            width: 90%;
            transition: .7s;
          }
        }
    }
    .breakpoint__xl-only {
      width: max-content;
      margin-left: auto;
    }
    .logo{
      width: max-content;
      padding-right:30px;
      .navbar-item {
        position: relative;
        top: 2px;
        left: 0px;
        padding: 0;
        width: max-content;
        border-bottom: none;
        a{
          padding: 0;
          .d-3, .d-4{
            display: none;
          }
        }
      }
    }
    .menu{
      display: flex;
      justify-content: flex-end;
    }
    .nav-icon{
      display: none;
    }
    @media only screen and (max-width: 1199px) { 
      .m-2-hor {
          padding: 0px 2%;
      }
      .menu{
        display: block;
        padding: 15px 0 10px;
      }
      &.navbar {
        position: relative;
        .logo{
          position: relative;
          left: -10px;
          display: inline-block;
        }
        .search{
          display: inline-block;
          position: relative;
          top: -9px;
          #quick_search{
            width: 100%;
          }
        }
        .mainside{
          position: absolute;
          right: 60px;
          top: 28px;
        }
        .dropdown-custom.btn{
          color: $gray;
          width: 100%;
          text-align: left;
          &::after{
            float: right;
            font-size: .9rem;
          }
        }
      }
      .w-100-nav{
        display: block;
        padding: 20px 2%;
      }
      .navbar-item {
        display: block;
        padding: 15px 0;
        border-bottom: 1px solid rgba(0,0,0,.1);
      }
      .nav-icon {
      position: absolute;
      top: 35px;
      right: 25px;
      display: block;
      width: 20px;
      height: 10px;
      padding-top: 13px;
      line-height: 0;
      cursor: pointer;
      background: none;
      border: none;
      padding: 0;
      z-index: 9999;
      }
      .bg-nav-icon{ 
      width:32px; 
      height:24px; 
      background:rgba(255,255,255,0);
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      }
      #nav-icon span, .nav-icon span{ 
      display:none; 
      position:absolute; 
      top: 5px; 
      left: -40px;
      font-size: .62rem;
      font-weight: 600;
      text-transform: uppercase;
      }
      .menu-line {
      position: absolute;
      width: 100%;
      height: 2px;
      top: 0px;
      background-color:$black;
      }
      .menu-line1 {
      position: absolute;
      width: 100%;
      height: 2px;
      top: 5px;
      background-color:$black;
      }
      .menu-line2 {
      position: absolute;
      width: 100%;
      height: 2px;
      top: 10px;
      background-color:$black;
      }
       &.sticky {
       position: absolute !important;
       }
     }
     @media only screen and (max-width: 641px) {
      &.navbar{
        .search{
          display: none;
        }
        .mainside {
          a{
            font-size: 13px;
            padding: 4px 10px;
          }
        }
        .logo{
          img{
            width: 90%;
          }
        }
      }
    }
    &.sticky {
      position: fixed;
      top: 0;
      width: 100%;
      background: #1b1b1b;
      border-bottom: solid 1px #dddddd;
      transition: all 0.6s ease;
        &.white{
          background: $white;
          .btn{
            color: $black;
          }
          a{
            color: $black;
          }
        }
      }
      .search{
        display: flex;
        width: max-content;
        padding-left: 30px;
        #quick_search {
            padding: 4px 11px;
            border: none;
            border-radius: 6px;
            font-size: 15px;
            background: rgba(131, 100, 226, .1);
            width: 274px;
            height: 34px;
            outline: none;
        }
      }
} 
.hide{
  display: none !important;
}
.show{
  display: block !important;
}

//logout menu
.mainside{
  width: max-content;
  padding-left: 0;
  padding-right: 0;
  a{
    text-align: center;
    color: #fff !important;
    background: $color;
    border-radius: 6px;
    letter-spacing: normal;
    outline: 0;
    font-weight: 800;
    text-decoration: none;
    padding: 6px 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 20px 0px rgba(131,100,226, 0);
    transition: all 0.3s ease;
    &:hover{
      box-shadow: 2px 2px 20px 0px rgba(131,100,226, 0.5);
      transition: all 0.3s ease;
    }
  }
  .connect-wal{
    display: block;
  }
  .logout{
    display: none;
    a{
      display: inline-block;
      margin: 0 5px;
    }
  }
  .de-menu-notification {
    margin: 0 5px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 38px;
    height: 38px;
    background: #eeeeee;
    text-align: center;
    line-height: 32px;
    border-radius: 30px;
    padding-top: 3px;
    margin-left: 5px;
    .d-count {
      display: inline-block;
      position: absolute;
      z-index: 100;
      background: $color;
      line-height: 1em;
      padding: 6px;
      width: 22px;
      border-radius: 30px;
      top: -10px;
      right: -10px;
      color: #ffffff;
      font-weight: bold;
      font-size: 10px;
    }
    .popshow{
      cursor: default;
      width: 250px;
      position: absolute;
      background: $white;
      border-radius: 5px;
      overflow: hidden;
      inset: 50px auto auto -200px;
      padding: 20px;
      animation: smoothDrop .2s ease;
      -webkit-animation: smoothDrop .2s ease;
      box-shadow: 2px 2px 30px 0px rgba(20, 20, 20, 0.1);
      z-index: 1;
       h4 {
        font-weight: bold;
        display: block;
        margin: 0;
        margin-top: 0px;
        padding: 0;
        font-size: 16px;
        margin-top: 5px;
      }
      span.viewaall{
        color: $color;
      }
      ul {
        margin: 0;
        margin-top: 0px;
        margin-top: 10px;
        padding: 0;
        list-style: none;
        text-align: left;
        li {
          line-height: 20px;
          .mainnot {
            color: #0d0c22;
            img {
              width: 32px;
              height: 32px;
              position: absolute;
              border-radius: 30px;
            }
            .d-desc {
              position: relative;
              top: -20px;
              margin-left: 45px;
              b{
                font-weight: bold;
              }
              .d-time {
                display: block;
                font-size: 14px;
                color: #727272;
              }
            }
          }
        }
      }
    }
  }
  .de-menu-profile {
    position: relative;
    cursor: pointer;
      img {
      width: 38px;
      border-radius: 30px;
      -moz-border-radius: 30px;
      -webkit-border-radius: 30px;
      margin-left: 5px;
      margin-bottom: 2px;
    }
    .popshow{
    cursor: default;
    width: 250px;
    position: absolute;
    background: $white;
    border-radius: 5px;
    overflow: hidden;
    inset: 50px auto auto -200px;
    padding: 20px;
    animation: smoothDrop .2s ease;
    -webkit-animation: smoothDrop .2s ease;
    box-shadow: 2px 2px 30px 0px rgba(20, 20, 20, 0.1);
    z-index: 1;
      .d-name{
        margin-bottom: 15px;
        h4 {
          font-weight: bold;
          display: block;
          margin: 0;
          margin-top: 0px;
          padding: 0;
          font-size: 16px;
          margin-top: 5px
        }
        span.name{
          color: $color;
          cursor: pointer;
        }
      }
      .d-balance {
        font-size: 14px;
        margin-bottom: 15px;
        h4 {
            font-weight: bold;
            display: block;
            margin: 0;
            margin-top: 0px;
            padding: 0;
            font-size: 16px;
            margin-top: 5px;
        }
      }
      .d-wallet {
        font-size: 14px;
        margin-bottom: 15px;
        h4 {
            font-weight: bold;
            display: block;
            margin: 0;
            margin-top: 0px;
            padding: 0;
            font-size: 16px;
            margin-top: 5px;
        }
        .d-wallet-address{
          display: inline-block;
          max-width: 64%;        
          overflow: hidden;
        }
        #btn_copy{
          margin-left: 15px;
        }
      }
      .d-line {
        margin: 15px 0 15px 0;
        border-top: solid 1px #bbbbbb;
      }
      .de-submenu-profile {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding: 5px 0;

          & > span {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            cursor: pointer;

            &:hover {
              box-shadow: none;
            }

            & > span:first-child {
              background: #eee;
              font-size: 0.9rem;
              border-radius: 50%;
              width: 28px;
              height: 28px;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            & > span:last-child {
              color: #0d0c22 !important;
              background: none;
              padding: 0;
              font-weight: bold;
              font-size: 14px;
              display: block;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

/*** media all ***/
@media only screen and (max-width: 1199px) {
  .navbar{
    top: 0;
    &.white a{
      color: $gray;
    }
  }
  #myHeader .container {
      max-width: unset !important;
  }
}
@media only screen and (max-width: 1024px) {
  .subfooter .de-flex, .subfooter .de-flex-col {
    display: block;
  }
  footer.footer-light .subfooter span.copy{
    display: block;
    margin: 20px 0;
  }
}
.dropdownSelect{
  display: inline-block;
  width: 200px;
  position: relative;
  margin-right: 10px;
  margin-bottom: 5px;
  z-index: 2;
  .css-1okebmr-indicatorSeparator{
    background: none;
  }

}